<!-- <ion-header>
  <ion-toolbar>
    <ion-title>search-job</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-searchbar></ion-searchbar>
  <div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Java Developer</ion-card-title>
      <ion-card-subtitle>Senior</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      <p>
        Responsible for Managing team.
        Team Player
        Good Communication
      </p>
    </ion-card-content>
    <ion-button>Apply</ion-button><ion-button>Save Job</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Graduate Cloud Engineer</ion-card-title>
      <ion-card-subtitle>Entry Level</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the
      woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button>Apply</ion-button><ion-button>Save Job</ion-button>

  </ion-card>
</div>
</ion-content>
